@qdark: rgba(0,0,0,0.2);
@ccode: #555;
@dgrey: rgba(0,0,0,0.6);

@darkest: #010202;
@darker: #132016;
@dark: #92637C;
@dark1: @dark;
@shade: #453F19;
@glowing: #CD3B16;
@light: #d4ffe3;
@clear: #ededed;
